.services {
    background-color: #181F2B;
    &__list {
        max-width: 800px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.service {
    max-width: 320px;
    text-align: center;
    &::before {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80px;
        height: 80px;
        background-image: url('../img/icon-everywhere.png');
        content: '';
        background-size: contain;
        margin-bottom: 24px;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    &__text {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 80px;
    }
}

.service:nth-child(2)::before {
    background-image: url(../img/icon-security.png);
}

.service:nth-child(3)::before {
    background-image: url(../img/icon-collaboration.png);
}

.service:nth-child(4)::before {
    background-image: url(../img/icon-file-type.png);
}

@media only screen and(min-width: 768px) {
    .services {
        &__list {
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .service {
        &::before {
            width: 104px;
            height: 104px;
            background-image: url('../img/icon-everywhere.png');
            content: '';
            background-size: contain;
            margin-bottom: 16px;
        }
        &__title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 9px;
        }
        &__text {
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 78px;
        }
    }
}